<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nglah.masrytechn">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.user_data.User_Data_Activity"
            android:parentActivityName=".view.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.main.MainActivity"></meta-data>
        </activity>
        <activity
            android:name=".view.driver_data.Driver_data"
            android:parentActivityName=".view.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.main.MainActivity"></meta-data>
        </activity>
        <activity android:name=".view.forgetPassword.ForgetActivity" />
        <activity android:name=".view.register.RegisterActivity" />
        <activity android:name=".view.login.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.login.LoginActivity" />
        <activity android:name=".view.main.MainActivity" />
        <activity android:name=".view.nglah_location.nglah_location" android:parentActivityName=".view.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.main.MainActivity"></meta-data>

        </activity>
    </application>

</manifest>